// Example override that works in both dark and light modes in Chirpy
.card.series-list {
    background-color: var(--card-bg);
    color: var(--card-text);
  
    .card-header {
      background-color: var(--card-bg);
      color: var(--card-text);
    }
  
    .list-group-item {
      background-color: var(--card-bg);
      color: var(--card-text);
      border-color: var(--card-border-color); // or whichever var works best
    }
  
    .list-group-item.active {
      background-color: var(--card-hover-bg);
      color: var(--card-text);
    }
  }
  