{% if page.series %}
  {% assign series_posts = site.posts | where: "series", page.series | sort: "date" %}
  <div class="row justify-content-center" id="post-series">
    <div class="card series-list">
      <div class="card-header">
        {{ page.series | upcase }} ({{ series_posts | size }} part series)
      </div>
      <ul class="list-group list-group-flush">
        {% for item in series_posts %}
          {% if item.title == page.title %}
            <a 
              href="#" 
              class="list-group-item list-group-item-action active" 
              aria-current="true"
            >
              {{ item.title }}
            </a>
          {% else %}
            <a 
              href="{{ item.url | relative_url }}" 
              class="list-group-item list-group-item-action"
            >
              {{ item.title }}
            </a>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
